.container{
    display: flex;
    flex-direction: column;
    background-color:#b86193;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
.title{
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.subtitle{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.input{
    width: 85%;
    padding: 10px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.539);
    border-radius: 8px;
    border-style:solid;
}
.button{
    width: 84%;
    padding: 10px;
    margin: 15px;
    border-radius: 7px;
    background-color: #dc92c5;
    color: #fff;
    cursor: pointer;
    border-style:outset;
    border-color: #9c3b72;
    border-width:3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    flex-direction: row;
}
.button:hover{
    background-color:#a65488;
}